body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#582b8c, #270245);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
}

.text {
  position: absolute;
  font-family: cursive;
  color: rgba(241, 241, 241, 0.821);
  font-size: 80px;
  opacity: 0.68;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.rings {
  position: relative;
  width: 400px;
  animation-delay: 100ms;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rings > .ring {
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 1/1;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  transform-origin: center;
  animation-duration: 4s;
  animation-delay: calc(0.4s * var(--delay));
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
  filter: opacity(0);
  will-change: transform;
  overflow: hidden;
}

.rings > .ring:nth-child(even) {
  border-color: whitesmoke;
  box-shadow: 0 0 4px cyan, 0 0 20px cyan, inset 0 0 4px cyan,
    inset 0 0 20px cyan;
}

.rings > .ring:nth-child(odd) {
  border-color: whitesmoke;
  box-shadow: 0 0 4px magenta, 0 0 20px magenta, inset 0 0 4px magenta,
    inset 0 0 20px magenta;
}

.rings > .ring:first-child {
  width: 50px;
  margin: -25px 0 0 -25px;
}

.rings > .ring:nth-child(2) {
  width: 64px;
  margin: -32px 0 0 -32px;
}

.rings > .ring:nth-child(3) {
  width: 78px;
  margin: -39px 0 0 -39px;
}

.rings > .ring:nth-child(4) {
  width: 92px;
  margin: -46px 0 0 -46px;
}

.rings > .ring:nth-child(5) {
  width: 104px;
  margin: -52px 0 0 -52px;
}

.rings > .ring:nth-child(6) {
  width: 118px;
  margin: -59px 0 0 -59px;
}

.anim-zoomIn {
  animation-name: zoomIn;
}

.anim-pan {
  animation-name: anim-pan;
}

@keyframes zoomIn {
  0% {
    transform: perspective(200px) translatez(0);
    filter: opacity(0);
  }
  60% {
    filter: opacity(100%);
  }
  100% {
    transform: perspective(200px) translatez(200px);
  }
}

@keyframes anim-pan {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-50%, -45%, 0);
  }
  75% {
    transform: translate3d(45%, 35%, 0);
  }
  85% {
    transform: translate3d(-60%, 25%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
